
<h1>Guest profile</h1>

<p><%= notice %></p>

<div id="show-guest">

  <div class="field">
    <span class="field-label">Username:</span>
    <span class="field-value"><%=h @guest.username %></span>
  </div>
  <div class="field">
    <span class="field-label">Name:</span>
    <span class="field-value"><%=h @guest.name %></span>
  </div>
  <div class="field">
    <span class="field-label">Email:</span>
    <span class="field-value"><%=h @guest.email %></span>
  </div>
  <div class="field">
    <span class="field-label">Location:</span>
    <span class="field-value"><%=h @guest.location %></span>
  </div>

  <div class="tool-button"><%= link_to 'Edit', edit_guest_path(@guest) %></div>
</div>

