<!DOCTYPE html>
<html>
<head>
  <title>Gb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <span id="topnav-logo">
    <%= link_to "Guestbook", :controller=>"guest_book", :action=>"index" %>
  </span>
  <span id="topnav-guest">
    <% if !current_guest.nil? %>
      <%= link_to current_guest.username, {:controller => 'guests', :action => 'show', :id => current_guest.id} %> <span class="email">(<%= current_guest.email %>)</span>
    <% else %>
      <%= link_to_unless_current "Register", new_guest_path %>
    <% end %>
  </span>

<%= yield %>

</body>
</html>
